<!DOCTYPE html>
<html>
  <head>
    <title>Chrome Remote</title>

    <link rel="stylesheet" href="/style.css">    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/functions.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <div class="container" style="text-align:center">
          <h1>Chrome Remote</h1>
          <p>Control an army of chromes</p>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
